$color_1: rgba(47, 37, 28, 1);
$color_2: rgba(128, 128, 128, 1);
$color_3: #000;
$color_4: #333;
$color_5: rgba(175, 130, 90, 1);
$pink: #e6116d;
$color_6: rgba(0, 0, 0, 1);
$color_section_subtitle: #808080;
$color_section_title: #2f251c;
$font-family_1: "IBM Plex Sans", sans-serif;
$font-family_2: Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family_3: "brightgrotesk-book-italic", sans-serif;
$background-color_1: rgba(255, 255, 255, 0.8);
