@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Hurricane&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Grotesk:wght@300..700&display=swap";
@font-face {
  font-family: "brightgrotesk-book-italic";
  src: url("../public/fonts/brightgrotesk-bookitalic-webfont.woff2") format("woff2"), url("../public/font/brightgrotesk-bookitalic-webfont.woff") format("woff"), url("../public/font/brightgrotesk-bookitalic-webfont.svg#brightgrotesk-boouploadedfile") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Container setup for the flip effect */
/* Basic setup */
/* Ensuring .craft-name is unaffected */
* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

h1 {
  padding: 0px;
  margin: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
  font-family: "brightgrotesk-book-italic", sans-serif;
  font-size: 36px;
  font-style: italic;
  font-weight: 400;
  margin: 0;
  color: rgb(47, 37, 28);
}

h3 {
  padding: 0px;
  margin: 0px;
}

h4 {
  padding: 0px;
  margin: 0px;
}

h5 {
  padding: 0px;
  margin: 0px;
  margin: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18.2px;
  color: rgb(128, 128, 128);
  letter-spacing: 1px;
}

p {
  padding: 0px;
  margin: 0px;
}

a {
  padding: 0px;
  margin: 0px;
  color: rgb(47, 37, 28);
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 1px;
}

li {
  padding: 0px;
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

.a-link {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  height: 100%;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 19px 0px;
  padding-right: 6rem;
  gap: 10px;
}

body {
  background: rgba(255, 255, 255, 0.5254901961);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #000;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.swiper-buttons {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-around;
}

.swiper-button-prev {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: white;
  opacity: 1;
  box-shadow: 0px 2px 4px rgb(128, 128, 128);
}
.swiper-button-prev::after {
  color: #000;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background: white;
  opacity: 1;
  box-shadow: 0px 2px 4px rgb(128, 128, 128);
}
.swiper-button-next::after {
  color: #000;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box-container {
  transition: all 0.5s ease;
  gap: 1rem;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20%;
  display: none;
}

.hero_section {
  position: relative;
}
.hero_section .hero_section_main_image {
  width: 100%;
  height: auto;
  max-height: 470px;
  aspect-ratio: 72/25;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero_section .hero_section_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero_section .hero_section_body .hero_section_body_box {
  position: relative;
  display: inline-block;
  padding: 2.2em;
  border-radius: 2em;
  height: 100%;
}
.hero_section .hero_section_body .hero_section_body_box .hero_section_body_box_blur {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.0117647059);
  z-index: -1;
  border-radius: 100px;
}

@media screen and (max-width: 899px) {
  .hero_section .hero_section_main_image {
    aspect-ratio: 3/4;
    max-height: unset;
  }
  .hero_section .hero_section_body {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, 50%);
  }
  .hero_section .hero_section_body_image {
    aspect-ratio: 28/5;
    max-width: 100%;
  }
}
.transition-effect {
  transition: background-image 0.8s ease; /* Adjust the duration and timing function as needed */
}

#shop-by-craft {
  margin: 40px 0 0px;
  padding: 60px 0 105px;
  background-image: url("../public/shop-by-craft/odisha-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  transition: background-image 1s ease-in-out;
}
#shop-by-craft .shop-by-craft-title {
  text-align: center;
}
#shop-by-craft .shop-by-craft-title h2 {
  margin-top: 12px;
  letter-spacing: -1px;
}
#shop-by-craft .shop_by_craft_swiper {
  margin-top: 48px;
  position: relative;
  height: 100%;
  width: 100%;
}
#shop-by-craft .shop_by_craft_swiper .swiper-buttons {
  width: 95%;
  left: 45%;
}
#shop-by-craft .shop_by_craft_slider_box {
  padding-left: 100px;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_number {
  position: relative;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_number .swiper-slide-active {
  transition: 0.8s ease;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_number .swiper-slide-active .shop_by_craft_swiper_first_card h2 {
  background-color: #af825a;
  color: #fff;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_number .shop_by_craft_swiper_first_card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_number .shop_by_craft_swiper_first_card h2 {
  font-size: 12px;
  color: #af825a;
  text-align: center;
  display: inline-block;
  height: 44px;
  width: 108px;
  border-radius: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_number .shop_by_craft_swiper_first_card .shop_by_craft_swiper_first_card_line {
  z-index: 1;
  border: 1px solid rgba(175, 130, 90, 0.1490196078);
  width: 100%;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_number:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 100px;
  height: 2px;
  border: 1px solid rgba(175, 130, 90, 0.1490196078);
  transform: translate(0%, -50%);
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images {
  margin-top: 30px;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card h2 {
  margin-top: 20px;
  font-family: "brightgrotesk-book-italic", sans-serif;
  text-transform: capitalize;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  color: #000;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card .shop_by_craft_swiper_second_card_img {
  border-radius: 20px 0px 20px 0px;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card .shop_by_craft_swiper_second_card_inner {
  position: relative;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card .shop_by_craft_swiper_second_card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  color: white;
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  border-radius: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card .shop_by_craft_swiper_second_card_back ul li {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card .shop_by_craft_swiper_second_card_back ul li:not(:last-child) {
  margin-bottom: 10px;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card .shop_by_craft_swiper_second_card_back ul li:before {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  content: url("../public/hero-slider/li-star.svg");
  height: 100%;
  width: 10px;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card .shop_by_craft_swiper_second_card_back ul li:after {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  content: url("../public/hero-slider/li-star.svg");
  height: 100%;
  width: 10px;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide .shop_by_craft_swiper_second_card:hover .shop_by_craft_swiper_second_card_inner {
  transform: rotateY(180deg);
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide-active .shop_by_craft_swiper_second_card {
  scale: 1.1;
}
#shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .swiper-slide-active .shop_by_craft_swiper_second_card h2 {
  font-size: 28px;
}
#shop-by-craft .shop_by_craft_swiper_box_mobile {
  position: relative;
  margin: 20px 0 40px;
}
#shop-by-craft .shop_by_craft_swiper_box_mobile .swiper-slide h2 {
  font-size: 14px;
}
#shop-by-craft .shop_by_craft_swiper_box_mobile .swiper-slide .shop_by_craft_swiper_box_mobile_image {
  height: 90px;
  width: 90px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border-radius: 100%;
}
#shop-by-craft .shop_by_craft_swiper_box_mobile .swiper-pagination {
  margin-top: 26px;
  position: relative;
}
#shop-by-craft .shop_by_craft_swiper_box_mobile .swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 10px;
  border-radius: 5px;
  background: rgb(230, 17, 109);
  background: linear-gradient(90deg, rgb(230, 17, 109) 0%, rgb(242, 158, 182) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6116d",endColorstr="#f29eb6",GradientType=1);
}

.shop-by-color-swiper-pagination .swiper-pagination-bullet-active {
  width: 20px;
  height: 10px;
  border-radius: 5px;
  background: rgb(230, 17, 109);
  background: linear-gradient(90deg, rgb(230, 17, 109) 0%, rgb(242, 158, 182) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6116d",endColorstr="#f29eb6",GradientType=1);
}

.craft-image {
  perspective: 1000px;
  width: 100%;
  width: 100%;
  height: 19rem;
}
.craft-image:hover .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 19rem;
}

.front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.front img {
  width: 100%;
  height: 100%;
}

.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transform: rotateY(-180deg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #333;
  font-size: 16px;
  padding: 10px;
}

.back-content-text {
  position: absolute;
  height: 100%;
  overflow: scroll;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  border: 3px solid red;
  font-size: 14px;
}

.craft-name {
  text-align: leftr;
  padding-top: 10px;
  font-size: 20px;
  font-family: "brightgrotesk-book-italic", sans-serif;
  font-style: italic;
}

.shop-by-color-title {
  padding-left: 6rem;
}
.shop-by-color-title h2 {
  margin-top: 12px;
}

#shop-by-color {
  padding: 32px 0px 48px;
}
#shop-by-color .shop-by-color-tabsnav {
  padding-left: 100px;
  padding-top: 32px;
}
#shop-by-color .shop-by-color-tabsnav .custom-nav {
  padding: 17px 0px;
}
#shop-by-color .shop-by-color-tabsnav .custom-nav .nav {
  transition: all 0.5s ease;
  flex-direction: column;
}
#shop-by-color .shop-by-color-tabsnav .custom-nav .nav .nav-link {
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding: 33px 0px;
  font-family: "brightgrotesk-book-italic", sans-serif;
  font-size: 16px;
  color: rgb(47, 37, 28);
  font-style: italic;
}
#shop-by-color .shop-by-color-tabsnav .custom-nav .nav .nav-link.active {
  background: none;
  border-right: 3px solid rgb(234, 55, 129);
  border-radius: 0px;
  color: rgb(175, 130, 90);
  font-weight: bold;
  font-size: 20px;
}
#shop-by-color .shop-by-color-tabsnav .custom-tab {
  padding: 0px 27px 0px 24px;
}
#shop-by-color .shop-by-color-tabsnav .col:first-of-type {
  max-width: 340px;
  width: 100%;
}
#shop-by-color .swiper {
  width: 100%;
  height: 100%;
  position: relative;
}
#shop-by-color .swiper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  z-index: 2;
}
#shop-by-color .swiper::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  z-index: 2;
}
#shop-by-color .swiper .swiper-wrapper .swiper-slide .shop-by-color-card {
  padding: 10px;
  transition: box-shadow 0.5s ease;
  transition: all 0.5s ease;
}
#shop-by-color .swiper .swiper-wrapper .swiper-slide .shop-by-color-card:hover {
  transition: box-shadow 0.5s ease;
  background: rgb(255, 255, 255);
  border-radius: 12px 0px 12px 0px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.12);
}
#shop-by-color .swiper .swiper-wrapper .swiper-slide .shop-by-color-card:hover .icon-box-container {
  display: flex;
}
#shop-by-color .swiper .swiper-wrapper .swiper-slide .shop-by-color-card .slide-main-image {
  aspect-ratio: 27/41;
  width: 100%;
}
#shop-by-color .swiper .swiper-wrapper .swiper-slide .shop-by-color-card img {
  border-radius: 12px 0px 12px 0px;
}

.nav-link-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#shop_from_reels {
  padding: 80px 0px;
  background-image: url("../public/shop-reels/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#shop_from_reels .shop_from_reels_head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#shop_from_reels .shop_from_reels_head h2 {
  margin-top: 12px;
}
#shop_from_reels .shop_from_reels_body {
  margin-top: 30px;
  position: relative;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card {
  transform: scale(0.95);
  aspect-ratio: 17/31;
  max-width: 366px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: 0.8s ease;
  justify-content: center;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card .shop_from_reels_card_inner {
  position: relative;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card .shop_from_reels_card_inner .shop_from_reels_card_video {
  border-radius: 17px;
  display: none;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card .shop_from_reels_card_inner .shop_from_reels_card_image {
  border-radius: 17px;
  max-width: 100%;
  height: auto;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card .shop_from_reels_card_inner .reels-view-box {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(49, 49, 49, 0.2588235294);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card .shop_from_reels_card_inner .reels-view-box h4 {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 0px;
  color: #fff;
  letter-spacing: 1px;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card .shop_from_reels_card_inner .reels-view-box-button {
  display: none;
  width: 80%;
  border-radius: 15px;
  padding: 15px 0px;
  color: #fff;
  position: absolute;
  bottom: 0%;
  left: 50%;
  white-space: nowrap;
  font-size: 14px;
  font-family: "IBM Plex Sans", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: none;
  border-radius: 40px;
  border: 2px solid transparent;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card .shop_from_reels_card_inner .reels-view-box-button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(to right, rgba(255, 219, 125, 0), #ffdb7d);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .shop_from_reels_card .shop_from_reels_card_inner .shop_from_reels_card_play_icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .swiper-slide-active .shop_from_reels_card {
  transform: scale(1);
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .swiper-slide-active .shop_from_reels_card .shop_from_reels_card_inner .shop_from_reels_card_video {
  display: block;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .swiper-slide-active .shop_from_reels_card .shop_from_reels_card_inner .shop_from_reels_card_image {
  display: none;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .swiper-slide-active .shop_from_reels_card .shop_from_reels_card_inner .reels-view-box-button {
  display: block;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .swiper-slide-active .shop_from_reels_card .shop_from_reels_card_inner .shop_from_reels_card_play_icon {
  display: none;
}
#shop_from_reels .shop_from_reels_body .shop_from_reels_body_swiper .swiper-buttons {
  top: 50%;
}

#shop-bestsellers {
  padding: 48px 0px 80px;
}
#shop-bestsellers .swiper {
  margin-top: 32px;
  width: 100%;
  height: 100%;
}
#shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card {
  transition: all 0.5s ease;
  padding: 10px 10px 20px 10px;
}
#shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card .shop-by-color-img-container {
  position: relative;
  z-index: 0;
  transition: all 0.8s ease;
}
#shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card .shop-by-color-img-container::before {
  content: "";
  position: absolute;
  background: url(../public/bestseller-tag.png);
  background-position: top right;
  width: 100%;
  right: 0;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 2;
}
#shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card .shop-by-color-img-container .img-fluid {
  width: 100%;
  height: auto;
}
#shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card:hover {
  background: rgb(255, 255, 255);
  border-radius: 12px 0px 12px 0px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.12);
}
#shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card:hover .icon-box-container {
  transition: all 0.5s ease;
  display: flex;
  bottom: 50px;
  z-index: 5;
}
#shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card img {
  border-radius: 12px 0px 12px 0px;
}

.shop-bestsellers {
  padding-left: 5rem;
}

.icon-box-svg {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.icon-box-svg img {
  height: 1.2rem;
  width: 1.2rem;
}
.icon-box-svg:hover img {
  filter: brightness(0) saturate(100%) invert(33%) sepia(76%) saturate(7483%) hue-rotate(322deg) brightness(101%) contrast(105%);
}

.shop-by-color-item-name {
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.5px;
  font-family: "IBM Plex Sans", sans-serif;
}

.shop-by-color-item-price {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-top: 4px;
}

.original-price {
  text-decoration: line-through;
  margin-right: 10px;
  color: rgb(128, 128, 128);
  font-weight: 400;
}

#shop-by-category {
  padding: 48px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#shop-by-category .shop-by-categoryswiper {
  padding-left: 82px;
  padding-right: 20px;
}
#shop-by-category .shop-by-categoryswiper .swiper .swiper-wrapper img {
  transition: all 0.4s ease;
}
#shop-by-category .shop-by-categoryswiper .swiper-slide {
  transition: all 0.4s ease;
}
#shop-by-category .shop-by-categoryswiper .swiper-slide:hover {
  transform: scale(1.1);
}
#shop-by-category .shop-by-categoryswiper .swiper-slide:hover img {
  border: 2px solid goldenrod;
  padding: 6px;
}
#shop-by-category .shop-by-categoryswiper .swiper-slide:hover .shop-by-color-item-name {
  font-size: 28px;
}
#shop-by-category .shop-by-categoryswiper .swiper-slide img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
#shop-by-category .shop-by-categoryswiper .shop-by-color-item-name {
  margin-top: 0px;
}

.shop-by-categoryswiper .swiper-wrapper {
  height: 400px;
  width: 100%;
}
.shop-by-categoryswiper .swiper-slide {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 21px;
}
.shop-by-categoryswiper .swiper-slide .shop-by-color-item-name {
  font-family: "brightgrotesk-book-italic", sans-serif;
  font-size: 20px;
  font-style: italic;
}

.home-has-gradient {
  background: #faeee6;
  position: relative;
}
.home-has-gradient:after, .home-has-gradient:before {
  content: "";
  height: 3rem;
  position: absolute;
  left: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .home-has-gradient:after, .home-has-gradient:before {
    height: 5.8125rem;
  }
}
@media screen and (max-width: 900px) {
  .home-has-gradient:after, .home-has-gradient:before {
    display: none;
  }
}
.home-has-gradient:before {
  top: 0;
  background: linear-gradient(180deg, #ffffff 0%, #faeee6 100%);
}
.home-has-gradient:after {
  bottom: 0;
  background: linear-gradient(180deg, #faeee6 0%, #ffffff 100%);
}

.home-reviews {
  padding: 48px 0 72px;
  background-image: url("../public/review-slider/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-reviews .home__header {
  position: relative;
}
.home-reviews .home__header:before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../public/review-slider/“.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 0;
  height: 40px;
  width: 40px;
  font-size: 1.6875rem;
  color: #e6116d;
  text-align: center;
  line-height: 1;
  margin-bottom: 0.625rem;
  left: 50%;
  transform: translate(-50%, 0%);
}
@media screen and (min-width: 768px) {
  .home-reviews .home__header:before {
    font-size: 2.25rem;
    margin-bottom: 2.75rem;
  }
}
.home-reviews .home__header h6 {
  padding-top: 72px;
  text-align: center;
}
.home-reviews .home__header h2 {
  margin-top: 8px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .home-reviews .swiper-arrows {
    justify-content: flex-end;
    grid-gap: 1rem;
    margin-right: 1.25rem;
  }
  .home-reviews .swiper-arrows .swiper-button {
    border: none;
  }
}

.home-reviews__head {
  display: flex;
  border-bottom: 1px solid #f7e2d1;
  margin-top: 1.75rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.75rem;
}
@media screen and (min-width: 768px) {
  .home-reviews__head {
    grid-gap: 3.25rem;
    padding-bottom: 0;
    justify-content: flex-end;
    margin: 24px 0 32px;
  }
  .home-reviews__head .swiper-arrows {
    grid-gap: 1.25rem;
  }
  .home-reviews__head .swiper-arrows .swiper-button {
    border: none;
  }
}

.home-reviews__total {
  display: flex;
  grid-gap: 1.4375rem;
  align-items: center;
  justify-content: center;
}
.home-reviews__total p {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .home-reviews__total {
    grid-gap: 0.25rem;
  }
}

.home-reviews__stars {
  display: flex;
  grid-gap: 0.125rem;
}
.home-reviews__stars i {
  font-size: 1.125rem;
  color: #e6116d;
  line-height: 1;
}

.home-reviews__item {
  padding: 1.5rem;
  min-width: 15.5rem;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .home-reviews__item {
    width: 100%;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .home-reviews__item {
    padding: 0;
  }
}
.home-reviews__item h5 {
  font-family: "brightgrotesk-book-italic", sans-serif;
  font-style: italic;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #2b2b2b;
  margin: 0.75rem 0 0;
}
@media screen and (min-width: 768px) {
  .home-reviews__item h5 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

.home-reviews__item__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-reviews__item__top p {
  font-family: "IBM Plex Serif";
  font-style: italic;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 160%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin: 0;
  color: #808080;
}
.home-reviews__item__top .home-reviews__stars i {
  color: #e6e6e6;
}
.home-reviews__item__top .home-reviews__stars i.active {
  background: linear-gradient(73.3deg, #f4b224 40.06%, #ffffff 109.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media screen and (min-width: 768px) {
  .home-reviews__item__top .home-reviews__stars i {
    font-size: 1.5rem;
  }
}

.home-reviews__product {
  margin-top: 1.25rem;
  display: flex;
  grid-gap: 1rem;
}
.home-reviews__product p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 160%;
  color: #555555;
  margin-bottom: 4px;
}
@media screen and (min-width: 768px) {
  .home-reviews__product p {
    max-width: 10.875rem;
  }
}
.home-reviews__product h6 {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.1875rem;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  /* Primary/Pink/Pink 3 */
  color: #e6116d;
}
.home-reviews__product img {
  width: 3.875rem;
  height: 5.625rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-reviews__product .home-reviews__quote {
  width: 3.875rem;
  height: 3.875rem;
  background: #fad7e0;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-reviews__product .home-reviews__quote:after {
  content: "";
  background-image: url("../public/review-slider/“.svg");
  width: 19px;
  height: 14px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0.9375rem;
  line-height: 1;
  color: #e6116d;
}

.review-swiper .swiper-buttons {
  margin-left: 54px;
  position: relative;
  width: 130px;
  height: 60px;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.review-swiper .swiper-buttons .swiper-button-next,
.review-swiper .swiper-buttons .swiper-button-prev {
  height: 48px;
  width: 48px;
  position: relative;
  top: 0;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .review-swiper {
    padding: 0rem 6.5rem;
  }
}

#shop_by_occassion {
  background-image: url("../public/shop-occassion/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 100px 80px;
  position: relative;
  z-index: 2;
}
#shop_by_occassion .shop_by_occassion_head {
  z-index: 2;
}
#shop_by_occassion .shop_by_occassion_head h3 {
  text-transform: uppercase;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #808080;
}
#shop_by_occassion .shop_by_occassion_head h2 {
  text-align: center;
  margin-top: 12px;
}
#shop_by_occassion .shop_by_occassion_swiper_box {
  z-index: 2;
  margin-top: 22px;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .swiper-slide-active .shop_by_occassion_swiper_card {
  scale: 1;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .swiper-slide-active .shop_by_occassion_swiper_card .shop_by_occassion_swiper_card_image {
  box-shadow: 1px 25px 115px -48px rgba(132, 96, 63, 0.32);
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .swiper-slide-active .shop_by_occassion_swiper_card h2 {
  font-size: 28px;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .swiper-slide-active .shop_by_occassion_swiper_card h3 {
  display: block;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  scale: 0.9;
  transition: all 0.8s ease;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card .shop_by_occassion_swiper_card_inner {
  width: 100%;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card .shop_by_occassion_swiper_card_inner .shop_by_occassion_swiper_card_image {
  border-radius: 10px 0px 10px 0px;
  aspect-ratio: 1;
  width: 100%;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card .shop_by_occassion_swiper_card_inner h3 {
  margin-top: 4px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #808080;
  display: none;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card .shop_by_occassion_swiper_card_inner h2 {
  margin-top: 20px;
  font-size: 20px;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card:hover {
  scale: 1;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card:hover .shop_by_occassion_swiper_card_image {
  box-shadow: 1px 25px 115px -48px rgba(132, 96, 63, 0.32);
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card:hover h2 {
  font-size: 28px;
}
#shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .shop_by_occassion_swiper_card:hover h3 {
  display: block;
}
#shop_by_occassion::before, #shop_by_occassion::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}
#shop_by_occassion::before {
  top: -10px;
  left: 0;
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0));
}
#shop_by_occassion::after {
  bottom: -4%;
  left: 0;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

#do_you_know_section {
  padding: 48px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#do_you_know_section h5 {
  font-size: 16px;
}
#do_you_know_section h2 {
  font-size: 46px;
  margin-top: 12px;
}
#do_you_know_section img {
  width: 100vw;
}
#do_you_know_section .do_you_know_section_video {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 9/2;
}
#do_you_know_section .do_you_know_section_video video {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  height: 100%;
}
#do_you_know_section .do_you_know_section_video:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: 0px;
  left: 0px;
  background: #fff;
  z-index: 5;
}
#do_you_know_section .trivia-cotton-desc {
  padding: 32px 100px 0;
}
#do_you_know_section .trivia-cotton-desc .trivia-cotton-desc-item h5 {
  font-family: "brightgrotesk-book-italic", sans-serif;
  font-size: 24px;
  font-style: italic;
  color: #af825a;
}
#do_you_know_section .trivia-cotton-desc .trivia-cotton-desc-item p {
  margin-top: 12px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  color: rgb(128, 128, 128);
}

.img-fluid-mobile {
  display: none;
}

@media screen and (max-width: 1200px) {
  #shop-by-craft .shop_by_craft_slider_box {
    padding-left: 40px;
  }
  #shop-by-craft .shop_by_craft_slider_box .shop_by_craft_slider_images .shop_by_craft_swiper_second_card {
    padding: 15px;
  }
  #shop-by-color .shop-by-color-tabsnav {
    flex-direction: column;
    padding-left: 50px;
  }
  #shop-by-color .shop-by-color-tabsnav .col:first-of-type {
    max-width: 100%;
  }
  #shop-by-color .shop-by-color-tabsnav .custom-nav .nav {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 100%;
    white-space: nowrap;
  }
  #shop-by-color .shop-by-color-tabsnav .custom-nav .nav .nav-link.active {
    border-right: 0px;
    border-bottom: 3px solid rgb(234, 55, 129);
  }
  .shop-by-color-title {
    text-align: center;
    padding-left: 1rem;
  }
  .a-link {
    padding-right: 0rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .custom-nav {
    padding-left: 1rem;
  }
  #shop-by-color {
    padding: 0rem;
  }
  #shop-by-color .swiper::before {
    display: none;
  }
  #shop-by-color .swiper::after {
    display: none;
  }
  #shop-by-color .grid-1 {
    padding-left: 2rem;
  }
  #shop-by-color .grid-2 {
    padding-right: 2rem;
  }
  #shop-by-color .grid-3 {
    margin-top: 2rem;
    padding-left: 2rem;
  }
  #shop-bestsellers .grid-1 {
    padding-left: 2rem;
  }
  #shop-bestsellers .grid-2 {
    padding-right: 2rem;
  }
  #shop-bestsellers .grid-3 {
    margin-top: 2rem;
    padding-left: 2rem;
  }
  .icon-box-svg {
    width: 2rem;
    height: 2rem;
  }
  #shop_by_occassion {
    padding: 0;
  }
}
@media screen and (max-width: 800px) and (max-width: 800px) {
  .shop-by-color-title {
    padding-left: 0;
  }
  a {
    font-size: 12px;
  }
  h2 {
    font-size: 24px;
  }
  h5 {
    font-size: 11px;
  }
  .grid-1 {
    flex: 0 0 100%;
    order: 1;
    text-align: center;
  }
  .grid-2 {
    flex: 0 0 100%;
    order: 1;
    text-align: center;
    order: 3;
    text-align: center;
  }
  .grid-3 {
    flex: 0 0 100%;
    order: 1;
    text-align: center;
    order: 2;
  }
  #shop-by-craft {
    background-image: none;
    padding: 0;
  }
  #shop-by-craft .shop-by-craft-title h2 {
    margin-top: 8px;
    font-size: 32px;
  }
  #shop-by-craft h5 {
    font-size: 11px;
    letter-spacing: 2px;
  }
  #shop-by-color {
    margin: 32px 0 48px;
  }
  #shop-by-color .shop-by-color-title .h2 {
    margin-top: 8px;
  }
  #shop-by-color .grid-1 {
    padding-left: 0rem;
  }
  #shop-by-color .grid-3 {
    padding-right: 0rem;
    margin-top: 2rem;
    padding-left: 0rem;
  }
  #shop-by-color .shop-by-color-tabsnav .custom-nav .nav {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
    width: 100%;
    white-space: nowrap;
  }
  #shop-by-color .shop-by-color-tabsnav .custom-tab {
    padding: 0;
  }
  #shop-by-color .shop-by-color-tabsnav .custom-tab .swiper {
    padding: 0px 24px;
  }
  #shop-by-color .nav-link {
    padding: 0rem 1rem;
  }
  #shop-by-color .nav-link .nav-link-content {
    flex-direction: column-reverse;
    display: flex;
  }
  #shop-by-color .nav-link.active {
    border-right: none;
    position: relative;
  }
  #shop-by-color .nav-link.active .nav-link-content-name {
    position: relative;
  }
  #shop-by-color .nav-link.active:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 30%;
    height: 100%;
    border-bottom: 2px solid rgb(234, 55, 129);
    margin: 0 auto;
  }
  #shop-by-color .swiper .swiper-wrapper .swiper-slide {
    height: 100%;
  }
  #shop-by-color .swiper .swiper-wrapper .swiper-slide .shop-by-color-card {
    padding: 0;
  }
  #shop-by-color .swiper .swiper-wrapper .swiper-slide .shop-by-color-card:hover {
    border-radius: 12px 0px 12px 0px;
    box-shadow: none;
  }
  #shop-by-color .swiper .shop-by-color-swiper-pagination {
    margin-top: 20px;
  }
  #shop-bestsellers .grid-1 {
    padding-left: 0rem;
  }
  #shop-bestsellers .grid-3 {
    padding-right: 0rem;
    margin-top: 2rem;
    padding-left: 0rem;
  }
  #shop-bestsellers .swiper .swiper-wrapper .swiper-slide {
    height: 100%;
  }
  #shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card .shop-by-color-img-container::before {
    background: url("../public/best-seller-mobile.png");
    background-repeat: no-repeat;
    background-position: top left;
    border-top-left-radius: 10px;
  }
  #shop-bestsellers .shop-best-sellers-wrapper {
    padding-bottom: 20px;
  }
  #shop-bestsellers .swiper-pagination {
    bottom: 0;
  }
  #shop-bestsellers .swiper-pagination .swiper-pagination-bullet-active {
    width: 20px;
    height: 10px;
    border-radius: 5px;
    background: rgb(230, 17, 109);
    background: linear-gradient(90deg, rgb(230, 17, 109) 0%, rgb(242, 158, 182) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6116d",endColorstr="#f29eb6",GradientType=1);
  }
  #shop-bestsellers .a-link {
    margin-top: 10px;
  }
  .shop-by-color-tabsnav {
    flex-direction: column;
  }
  .flex-container {
    width: 100vw;
  }
  .shop-by-color-item-price {
    font-size: 16px;
  }
  #shop-by-category h2 {
    padding: 0 20px;
  }
  #shop-by-category .shop-by-categoryswiper {
    padding: 0;
  }
  #shop-by-category .shop-by-categoryswiper .swiper-wrapper {
    height: 230px;
  }
  #shop-by-category .shop-by-categoryswiper .swiper-slide {
    gap: 8px;
  }
  #shop-by-category .shop-by-categoryswiper .swiper-slide .shop-by-color-item-name {
    margin-top: 0;
    font-size: 12px;
  }
  #shop-by-category .shop-by-categoryswiper .swiper-slide:hover .shop-by-color-item-name {
    font-size: 14px;
  }
  .img-fluid-mobile {
    display: block;
  }
  #do_you_know_section {
    margin: 40px 0 52px;
    padding: 0;
    gap: 0px;
  }
  #do_you_know_section h2 {
    margin-top: 8px;
    font-size: 24px;
  }
  #do_you_know_section h5 {
    font-size: 11px;
  }
  #do_you_know_section .trivia-cotton-desc {
    gap: 0rem;
    padding: 28px 24px 0;
  }
  #do_you_know_section .trivia-cotton-desc .trivia-cotton-desc-item {
    text-align: left;
  }
  #do_you_know_section .trivia-cotton-desc .trivia-cotton-desc-item h5 {
    text-align: center;
  }
  #do_you_know_section .trivia-cotton-desc .trivia-cotton-desc-item p {
    font-size: 14px;
    text-align: center;
  }
  #do_you_know_section .do_you_know_section_video {
    width: 100%;
    overflow: hidden;
  }
  #do_you_know_section .do_you_know_section_video video {
    -o-object-fit: cover;
       object-fit: cover;
    height: 168px;
  }
  #shop-by-color .shop-by-color-tabsnav {
    padding: 0;
  }
  #shop-by-color .shop-by-color-tabsnav .col:first-of-type {
    width: 100%;
    max-width: 100%;
  }
  #shop-by-color .shop-by-color-tabsnav .custom-nav .nav .nav-link {
    font-size: 14px;
    padding: 10px 30px;
    border-right: none;
    border-bottom: none;
  }
  #shop-by-color .shop-by-color-tabsnav .custom-nav .nav .nav-link.active {
    font-size: 16px;
    border-right: none;
    border-bottom: none;
  }
  #shop-by-color .custom-nav {
    border-bottom: 1px solid #eaeaea;
  }
  #shop-by-color .custom-nav .nav-link {
    padding: 10px 20px;
  }
  #shop-by-color .custom-nav .nav-link-content img {
    display: none;
  }
  #shop-by-color .a-link {
    margin: 28px 0px 0px;
    padding: 0;
    height: auto;
  }
  #shop-by-color .icon-box-container {
    display: flex;
    bottom: 24%;
  }
  #shop_from_reels {
    padding: 36px 0px 52px;
  }
  #shop_from_reels .shop_from_reels_body {
    margin-top: 20px;
  }
  #shop-bestsellers {
    padding: 32px 0px 0;
  }
  #shop-bestsellers .shop-by-color-title h2 {
    padding: 0px 20px;
  }
  #shop-bestsellers .shop-bestsellers {
    padding: 20px 24px 0;
    margin-top: 0;
  }
  #shop-bestsellers .icon-box-container {
    display: flex;
    bottom: 20px;
  }
  #shop-bestsellers .swiper .swiper-wrapper .swiper-slide .shop-by-color-card {
    padding: 0;
  }
  #shop-by-category {
    padding: 56px 0px 48px;
  }
  #shop-by-category .swiper-pagination .swiper-pagination-bullet-active {
    width: 20px;
    height: 10px;
    border-radius: 5px;
    background-color: #af825a;
  }
  #shop_by_occassion {
    padding: 20px 0px 40px;
  }
  #shop_by_occassion .shop_by_occassion_head h3 {
    font-size: 11px;
  }
  #shop_by_occassion .shop_by_occassion_head h2 {
    padding: 0 30px;
  }
  #shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .shop_by_occassion_swiper_card h3 {
    text-align: center;
  }
  #shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .shop_by_occassion_swiper_card h2 {
    text-align: center;
    font-size: 20px;
  }
  #shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .swiper-slide-active .shop_by_occassion_swiper_card h3 {
    display: block;
    font-size: 12px;
    text-align: center;
  }
  #shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .swiper-slide-active .shop_by_occassion_swiper_card h2 {
    text-align: center;
    font-size: 20px;
  }
  #shop_by_occassion .shop_by_occassion_swiper_box .shop_by_occassion_swiper .swiper-wrapper .swiper-slide-active .shop_by_occassion_swiper_card:hover h2 {
    font-size: inherit;
  }
  .home-reviews {
    padding: 40px 0 18px;
  }
  .home-reviews .home__header h6 {
    font-size: 11px;
    color: rgb(128, 128, 128);
    letter-spacing: 2px;
  }
  .review-swiper .swiper-buttons {
    width: 110px;
  }
  .review-swiper .swiper-buttons .swiper-button-next,
  .review-swiper .swiper-buttons .swiper-button-prev {
    height: 36px;
    width: 36px;
  }
}
@media screen and (max-width: 767px) {
  .swiper-buttons {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */